/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 13, 2017, 6:54:04 PM
    Author     : Artem Kryvko
*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

header {
    background: #2F4F4F;
    height: 95px;
}

.logo {
    border: 3px solid  #2F4F4F;
}

.ref {
    position: relative;
    width: 175px;
    margin: auto;
}

.ref span {
    position: absolute;
    top: 30px;
    margin-left: 10px;
    color: #F0FFFF;
    font: 20px/16px sans-serif;
}

.search {
    float: right;
}

.content {
    clear: both;
    background: linear-gradient(to bottom, #2F4F4F, #006400);
}

.contentImg {
    background: url("../images/evo.png") no-repeat center bottom;
    height: calc(100vh - 95px);
}

.genreList, .book, .logo {
    margin: 10px 0 10px 30px;
    float: left;
}

.logo {
    margin-bottom: 0;
}

.genreList, .book {
    border: 3px solid white;
    background: rgba(88, 88, 88, 0.5);
    height: calc(100vh - 121px - 20px);
    border-radius: 5px;
    padding: 10px;
    color: #F0FFFF;
    overflow: auto;
}

.genreList, .logo {
    width: 30ex;  
}

.book {
    width: calc(100vw - 30ex - 12px - 90px - 40px);
}

h4 {
    text-align: center;
}

ul.nav {
    list-style: none;
}
ul.nav a {
    text-decoration: none;
    color: #F0FFFF;
}

table a:hover, ul.nav a:hover, ul.nav a:active, ul.nav a:focus {
	background-color: #F0FFFF;
	color: #2F4F4F;
        border-radius: 3px;
        padding: 5px;
}

ul.nav li {
    margin: 5px;
}

table {
    color: #F0FFFF;
    font: 13px sans-serif;
}

td.info {
    width: calc(100vw - 150px); 
    height: 100px;
}

td.img {
    width: 150px;
    height: 130px;
}

p.link {
    margin:10px;
}

p.bookTitle{
    color: #52ff9f;
    font-weight: bold; 
    font-size: large;
}

table a {
    text-decoration: none;
    color: #F0FFFF;
}

h3 {
    margin-left: 30px;
}
