/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 13, 2017, 6:54:04 PM
    Author     : Artem Kryvko
*/

* {
    margin: 0;
    padding: 0;
}

body {
    color: #F0FFFF;
    background: #2F4F4F;
    font-family: sans-serif;
}

.genreList, .book, .logo, .login {
    margin: 10px 0 10px 30px;
    float: left;
}

.search {
    float: right;
}

.content {
    clear: both;
}

.genreList {
    width: 250px;  
}

.book {
    width: calc(100vw - 30ex - 12px - 90px - 40px);
}

.genreList, .book {
    border: 3px solid white;
    background: rgba(88, 88, 88, 0.5);
    height: calc(100vh - 116px - 20px);
    border-radius: 5px;
    padding: 10px;
    overflow: auto;
}

.logo, .login {
    margin-bottom: 0;
}

.login p {
    text-align: right;
}

a {
    text-decoration: none;
    color: inherit;
    border-radius: 3px;
    padding: 5px;
}

a:hover, a:active, a:focus {
    background-color: #F0FFFF;
    color: #2F4F4F;
}

.logo a {
    display: block;
    text-align: center;
}

.content {
    clear: both;
    background: linear-gradient(to bottom, #2F4F4F, #006400);
}

.contentImg {
    background: url("../images/evo.png") no-repeat center bottom;
    height: calc(100vh - 80px);
}

ul.nav {
    list-style: none;
}

ul.nav li {
    margin: 5px;
}

.letters, .genreTitle {
    text-align: center;
    font-weight: bold;
}

a.selected {
    color: #52ff9f;
    font-weight: bold;
}

a.selected:hover {
    color: #2F4F4F;
}

table {
    font: 13px sans-serif;
}

td.info {
    width: calc(100vw - 150px); 
    height: 100px;
}

td.img {
    width: 150px;
    height: 130px;
}

.bookTitle{
    color: #52ff9f;
    font-weight: bold; 
    font-size: large;
}

.link {
    margin:10px;
}